@model DTO.InsuranceInfo
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Request Insurance</h4>
            <p class="card-description">
            </p>
            @using (Html.BeginForm("Save", "Insurance", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="exampleInputEmail3">Employee</label>
                    @Html.TextBox("EmpId",$"{ViewBag.AllEmp}",new { @class="form-control", @readonly="true"})
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Insurance Type</label>
                    @Html.DropDownListFor(e=>e.InsuranceTypeId, ViewBag.AllInsuranceType as SelectList,"Choose Insurance Type",new { @class="form-control"})
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Insurance Company</label>
                    @Html.DropDownListFor(e=>e.InsuranceCompanyTypeId, ViewBag.insucomp as SelectList,"Choose Insurance Type",new { @class="form-control"})
                </div>               
                <div class="form-group">
                    <label for="exampleTextarea1">Remark</label>
                    @Html.TextAreaFor(e=>e.Remark,new { @class="form-control"})
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            }
        </div>
    </div>
</div>